table {
  border-collapse: collapse;
  width: 98%;
}

td {
  padding: 8px;
  text-align: left;
  font-size: 17px;
  color: #adadad;
  font-weight: 300;
}

th {
  width: 30%;
  text-align: left;
  padding-top: 40px;
  padding-bottom: 10px;
  font-size: 23px;
  font-weight: 350;
  color: #333;
}
.costum_toast {
  border: 1px solid #d9534f; /* Border color */
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Adjust as needed */
  align-items: flex-start; /* Adjust as needed */
}

.width {
  width: 50%;
}
